logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea
Будет удалено app/components/extensions/
Будет удалено app/components/templates/
Будет удалено npm-debug.log
Будет удалено server.iml
/server/
/api/logs
/api/src/key