<div id="playRoomList">
    <table class="tg" style="table-layout: fixed; width: 100%">
        <colgroup>
            <col style="width: 98px">
            <col style="width: 127px">
            <col style="width: 52px">
            <col style="width: 177px">
        </colgroup>
        <tr>
            <th class="tg-s6z2">комната №</th>
            <th class="tg-s6z2">игроков</th>
            <th class="tg-s6z2">пинг</th>
            <th class="tg-yw4l">с паролем</th>
        </tr>
        <tr>
            <td class="tg-s6z2">0</td>
            <td class="tg-s6z2">0</td>
            <td class="tg-s6z2">0</td>
            <td class="tg-yw4l">нет</td>
        </tr>
        <tr>
            <td class="tg-s6z2">1</td>
            <td class="tg-s6z2">3</td>
            <td class="tg-s6z2">30</td>
            <td class="tg-yw4l"></td>
        </tr>
        <tr>
            <td class="tg-s6z2">2</td>
            <td class="tg-s6z2">3</td>
            <td class="tg-s6z2">10</td>
            <td class="tg-yw4l"></td>
        </tr>
    </table>
</div>