/* app css stylesheet */

#playTable {
    height: 800px; /* Высота блока */
    background: url(../img/gamePlace.jpg) 70% 70% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
}

#playTable .text {
    color: #8a4182;
    display: block;
    width: auto;
    height: auto;
    text-align: center;
    vertical-align: middle;
    border: solid #000000 1px;
}

#playTable > .playCard {
    display: block;
    width: 235px;
    height: 350px;
    background: #ffffff;
    position: absolute;
    left: 270px;
    top: 540px;
    border: solid 4px #111111;
    border-radius: 10px;
}